1.1操作系统概念
-->操作系统
（1）计算机系统&裸机
    一个计算机系统由两部分组成：计算机硬件和计算机软件。计算机硬件通常有中央处理器（包括运算器和控制器）、存储器、输入设备和输出设备等部件组成，
它构成了系统本身和用户作业赖以活动的物质基础和环境。由这些硬件部件组成的机器称为“裸机”。

（2）软件
为了对硬件的性能加以扩充和完善，方便用户使用计算机，于是在裸机外添加了能实现各种功能的软件程序。
为了方便用户描述自己的算题任务而提供了程序设计语言及相应的翻译程序（汇编程序或编译程序）；
为了方便、有效地解决各类问题，提供了各种服务性程序和实用程序，如系统程序库、编辑程序、链接配置程序等；
为了维护系统正常工作，有查错程序、诊断程序和引导程序；
还有用户应用程序、数据库管理系统、数据通信系统等。

软件又称软设备，它是程序和数据的集合。这些程序为了方便用户和充分发挥计算机效能而编制的。而这些软件中有一个很重要的软件系统，即操作系统，
它管理系统中所有的软、硬件资源，并组织控制整个计算机的工作流程。

软件一般可以分为以下几类：
1）系统软件：操作系统、编译程序、程序设计语言、链接配置程序以及与计算机密切相关的程序。
2）应用软件：应用程序、软件包（如数理统计软件包、运筹计算软件包）。
3）工具软件：各种诊断程序、检查程序、引导程序。

僵尸&幽灵

（基础）虚拟机
    硬件和软件以及软件各部分之间是层次结构的关系。硬件在最里层，它的外面是操作系统，经过操作系统提供的资源管理功能和方便用户的各种服务手段把硬件
改造成为功能最强、使用更为方便的机器，通常称为“虚拟机”。而其他系统软件和应用软件则运行在操作系统之上，需要操作系统支持。

（深入理解）关于操作系统观点
1）从系统管理人员的观点来看，引入操作系统是为了合理组织计算机工作流程，管理和分配计算机系统硬件及软件资源，使之能为多个用户所共享。因此，操作
系统是计算机资源的管理者。
2)从用户的观点来看，引入操作系统是为了给用户提供一个良好的界面，以使用户无需了解许多有关硬件和系统软件的细节，就能方便灵活地使用计算机。

-->总结：操作系统是计算机系统中的一个系统软件，它统一管理计算机的软、硬件资源和控制程序的执行。

操作系统功能……

1.2 操作系统的形成和发展
为了更好理解操作系统的基本概念、功能和特点，首先回顾一下操作系统形成和发展的历史过程

按照元件工艺的演变把计算机发展过程分为以下四个阶段：
1946年至20世纪50年代末：第一代（电子管时代）
20世纪50年代末至60年代中期：第二代（晶体管时代）
20世纪60年代中期至70年代中期：第三代（集成电路时代）
20世纪70年代中期至今：第四代（大规模集成电路时代）

现在电子计算机正向着巨型、微型、并行、分布、网络化、智能化几个方向发展。（！）

（基础）操作系统也经历了如下的发展过程：
手工操作阶段（无操作系统）、早期批处理系统、执行系统、多道批处理系统、分时系统、实时系统、通用操作系统、微机操作系统、网络操作系统、
分布式操作系统和嵌入式操作系统。

1.2.1手工操作阶段
    在第一代计算机时期，构成计算机的主要元件是电子管，其运行速度慢（只有几千次/秒）。计算机有主机（运控部件、主存）、输入设备（如读卡机）、
输出设备（如穿卡机）和控制台组成。当时没有操作系统，甚至没有任何软件。

1.2.2早期批处理系统
    在计算机发展早期，用户上机时需要自己建立和运行作业，并做结束处理，没有任何用于管理的软件，所有的运行管理和具体操作都由用户自己承担。
为了缩短作业的建立时间，减少错误操作，尽可能地提高cpu的利用率，我们可以采取以下两个措施：首先配置专门的计算机操作员，程序员不再直接操作
机器，以减少操作机器的错误；另一个重要措施是进行批处理，操作员吧用户提交的作业进行分类，把一批中的作业编成一个作业执行序列，每一批作业
将有专门编制的监督程序自动依次处理。

1.联机批处理系统
用户上机前，需向机房的操作员提交程序、数据和一个作业说明书，后者提供了用户标识、用户想使用的编译程序以及所需要的系统资源等信息。

（深入理解）过程：
    这些资料必须变成穿孔信息（例如变成卡片的形式），操作员把各用户提交的一批作业装到输入设备上（若输入设备是读卡机，则该批作业是一叠卡
片），然后再监督程序的控制下传送到磁带上。之后，监督程序自动输入第一个作业的说明记录，若系统资源能满足其要求，则将该作业的程序、数据调入
主存，并从磁带上调入所需要的编译程序。编译程序将用户源程序翻译成目标代码，然后由链接装配程序把编译后的目标代码及所需要的子程序装配成一个
可执行的程序，接着启动执行。计算完成后输出该作业的计算结果。一个作业处理完毕后，监督程序又可以自动地对下一个作业进行处理。重复上述过程，
直到该批作业全部处理完毕。

（深入理解）意义&不足：
    这种联机处理方式解决了作业自动转换，从而减少了作业的建立和人工操作的时间。但是在作业的输入和执行结果的输出过程中，cpu仍处于停止等待
状态，cpu时间仍有很大的浪费，于是低俗的输入/输出设备与高速的cpu之间形成了一对矛盾。如果把输入/输出工作直接交给价格便宜的专用机去做，就能
充分发挥主机的效率，为此出现了脱机批处理系统。

2.脱机批处理系统
    脱机批处理系统由主机和卫星机组成。卫星机又称外围计算机，它不与主机直接连接，只与外部设备打交道。

（深入理解）过程：
    卫星机负责把输入机上的作业逐个传输到输入磁带上，当主机需要输入作业时，就把输入带和主机连上。主机从输入带上调入作业并运行，计算完成后，
输出结果到输出磁带上，再由卫星机负责把输出带上的信息进行输出。

（深入理解）意义：
    在这样的系统中，主机和卫星机可以并行操作，二者分工明确，可以充分发挥主机的高速计算能力，因此与联机批处理系统相比，脱机批处理系统大大
提高了系统的处理能力。

（深入理解）批处理系统意义：
    批处理系统出现于20世纪50年代末，它是解决人-机矛盾以及中央处理器的高速度和I/O设备的低速度之间的矛盾的过程中发展起来的。它的出现促进了
软件的发展，更重要的是它产生了具有管理作用的监督程序，该程序完成作业的自动过渡并且负责装入和运行各种语言翻译程序（如汇编程序、编译程序）
以及实用程序（如链接装配程序）。在此期间也出现了程序库和程序覆盖等新的程序设计技术。解题操作过程变成了装入、汇编（或翻译）、链接装配和执行
四个步骤，从而使上机操作初步自动化。


1.2.3 执行系统
（深入理解）执行系统为什么会出现：
    批处理系统实现了作业的自动过渡，它的出现改善了cpu和外设的使用情况，从而使整个计算机系统的处理能力得以提高。同时，它也存在一些缺点，如
磁带需人工拆卸，这样既麻烦又容易出错，另一个重要的问题就是系统保护问题。在进行批处理的过程中，所涉及的监督程序、系统程序和用户程序之间是一
种互相调用的关系。对于用户程序没有任何检查，若目标程序执行了一条非法停机指令时，机器就会错误地停止运行。此时，只有当操作员进行干预，在控制
台上按下启动按钮后，程序才会重新启动运行。另一种情况是，如果一个程序进入死循环，系统就会踏步不前，更严重的是无法防止用户程序破坏监督程序和
系统程序。
    20世纪60年代初期，硬件方面获得了两方面的进展，一时通道的引入，二是中断技术的出现，这两项重大成果促使操作系统进入执行系统阶段。

通道：
    通道是一种专用处理部件，它能控制一台或多台外设工作，负责外部设备和主存之间的信息传输。它一旦启动就能独立于cpu运行，这样可使cpu和通道并
行操做，而且cpu和各种外部设备也能并行操作。

中断：
    所谓中断是指当主机接到外部信号（如设备完成信号）时，马上停止原来的工作，转去处理这一事件，处理完毕，主机又回到原来的断点继续工作。

执行系统：
    借助于通道和中断技术，输入/输出工作可在主机控制下完成。这时，原有的监督程序的功能扩大了，它不仅要负责调度作业自动完成，而且还要提供输入
/输出控制功能（用户不能直接使用启动外设的指令，输入/输出请求必须通过系统去执行）。这个发展了的监督程序常驻主存，成为执行系统。

（深入理解）意义：
    执行系统实现的是联机操作，和早期批处理系统不同的是：输入/输出工作是由在主机控制下的通道完成的，主机和通道、主机和外设之间都可以并行操作。
在执行系统中，用户程序的输入/输出工作室委托给系统实现的，由系统检查其命令的合法性，以避免由于不合法的输入/输出命令造成对系统的威胁，因此提高
了系统的安全性。另外，由于引入了一些新的中断，如算术溢出和非法操作中断等，克服了错误停机的弊病，而时钟中断可以解决用户程序中出现的死循环问题。


1.2.4多道批处理系统
（深入理解）名称
早期批处理系统因为每次只调用一个用户作业程序进入主存并运行，故又称为单道批处理系统。其主要特征为：
1）自动性。……
2）顺序性。……
3）单道性。……
过程：
    用户程序首先在cpu上进行运算，当它需要进行I/O传输时，向监督程序提出请求，由监督程序提供服务，并帮助启动相应的外部设备进行传输工作，这时
cpu空闲等待。当外部设备传输结束时发出中断信号，由监督程序中负责中断处理的程序进行处理，然后把控制权交给用户程序，让其继续运算。

（深入理解）多道批处理系统的出现
    当外部设备进行传输工作时，cpu处于空闲等待状态；反之，当cpu工作是，I/O设备又无事可做。这说明，计算机系统各部件的效能没有得到充分的发挥，
其原因在于主存中只有一道程序。在计算机价格昂贵的20世纪60年代，提高设备的利用率是首要目标。为此，人们设想能否在系统同时存放多道程序，这就引入
了多道程序设计的概念。

1.多道程序设计
（深入理解）过程：
    用户程序A首先在cpu上运行，当它需要从输入设备输入新的数据而转入等待时，系统帮助它启动输入设备进行输入工作，并让用户程序B开始运算。程序B经
过一段计算后需要从输出设备输出一批数据，系统接收请求并帮助启动输出设备工作。如果此时程序A的输出尚未结束，也无其他用户程序需要计算，cpu就处于空
闲状态，直到程序A在输入结束后重新运行。若当程序B的输出工作结束时，程序A仍在运行，则程序B继续等待，直到程序A计算结束再次请求I/O操作时，程序B才
能占用cpu。

（基础）概念：
    多道程序设计是一种软件技术，该技术使同时进入计算机主存的几个相互独立的程序在管理程序控制之下相互交替地运行。当某道程序因某种原因不能继续运
行下去时（如等待外部设备传输数据），管理员便将另一道程序投入运行。这样可以使cpu及个外部设备尽量处于忙碌状态，从而大大提高计算机的使用效率。

（深入理解）意义：
引入多道程序设计，具有以下好处：
-可提高cpu的利用率；
-可提高主存和I/O设备利用率；
-可增加系统吞吐量；
在单处理器系统中，多道程序运行的特点是：
1）多道：计算机主存中同时存储几道相互独立的程序；
2）宏观上并行：同时进入系统的几道程序都处于运行过程中，即它们先后开始了各自的运行，但都未运行完毕。
3）微观上串行：从微观上看，主存中的多道程序轮流地或分时地占用cpu，即多道程序交替执行。

2.多道批处理系统
    在批处理系统中采用多道程序设计技术，就形成了多道批处理系统。
    
（深入理解）过程：
    在多道批处理方式下，交到机房的许多作业由操作员负责将其由输入设备转存到辅存设备（比如磁盘）上，形成了一个等待运行的作业队列。当需要调入作业
时，管理程序中有一个名为“作业调度”的程序负责对磁盘上的一批作业进行选择，让它们交替运行。当某个作业运行完成计算任务时，输出其结果，收回该作业占
用的全部资源，然后根据主存和其他资源的情况再调入一个或几个作业。这种处理方式的特点是：在主存中总是同时存储几道程序，系统资源的利用率是比较高的。

（深入理解）问题：
多道批处理系统是一种有效但又十分复杂的系统，为使系统中的多道程序能协调地运行，必须解决一下一些问题：
     1）并行运算的程序要共享计算机系统的硬件和软件资源，既有对资源的竞争，又必须相互同步。因此同步与相斥机制成为系统设计中的重要问题。
     2）多道程序的增加使之出现了主存不够用的问题，提高主存的使用效率也成为关键。因此出现了诸如覆盖技术、对换技术和虚拟存储技术等主存管理技术。
     3）多道程序存在于主存，为了保证系统程序存储区和各用户存储区的安全可靠，提出了主存保护的要求。

意义：
多道批处理系统的出现标志着操作系统进入日趋成熟的阶段，并先后出现了作业调度管理、处理器管理、存储器管理、外部设备管理、文件系统管理等功能。


1.2.5分时系统
（深入理解）分时系统为什么会出现
    在批处理方式下，用户以脱机操作方式使用计算机。用户上机前必须提交程序、数据和作业说明书，之后，用户就完全脱离了自己的作业，由系统对包含了
该作业的一批作业进行自动处理，等该批作业全部处理结束后，用户才能拿到运算结果，并根据结果分析下一步处理方案，若有错，还得重复上述过程。这种工
作方式给用户使用计算机带来了很大的麻烦，虽然计算机的效率高。人们又十分迷恋手工操作阶段那样的联机工作方式——用户独占机器，并且直接控制程序运行，
因此可以随时了解程序运行情况。但是，联机工作方式下，用户独占计算机造成计算机效率极低。那么，能否有一个两全之策，既保证计算机的效率，又方便用
户的使用呢？
    20世纪60年代中期，计算机技术和软件技术的发展加速了这种可能变成现实。由于主机速度的不断提高和采用了分时技术，一台计算机可同时为多个终端用
户服务，而每个用户可在自己终端设备上联机使用计算机，好像自己独占计算机一样。

分时技术：
    所谓分时技术，就是把处理器的时间分成很短的时间片（如几百毫秒），这些时间片轮流地分配给各联机作业使用。如果某个作业在分配给它的时间片用完
之时计算还未完成，该作业就暂时中断，等待下一轮继续运算，此时处理器让给另一个作业使用。这样，每个用户的各种要求都能得到快速响应，给每个用户的
印象是好像他独占了一台计算机。

分时系统：
    采用分时技术的系统称为分时系统。在该系统中，一台计算机和许多终端设备连接。每个用户可以通过终端向系统发出各种控制命令，请求完成某项工作，而
系统则分析从终端设备发出的命令，完成用户提出的要求，输出一些必要的信息，如给出提示信息、报告运行情况、输出运行结果等。用户根据提出的要求，向系
统提出下一步请求。重复上述交互会话过程，直到用户完成预计的全部工作为止。

意义：多道批处理系统和分时系统的出现标志着操作系统的初步形成。

（基础）分时系统相关
1.分时系统的类型
（1）单道分时系统
    在单道分时系统中，主存只驻留一道程序（作业），其余作业都保存在辅存上。每当主存中的作业运行一个时间片后，便被调至辅存（称为调出），再从辅存
上选一个作业装入主存（称为调入）并运行一个时间片，依次方法使所有的作业都能在规定时间内轮流运行一个时间片，这样便能时所有用户都能与自己的作业交
互。由于单道分时系统只有一道作业驻留在主存，在多个作业的轮流运行过程中，每个作业往往可能频繁地调进调出多次，开销大，故使系统性能较差。
（2）具有“前台”和“后台”的分时系统
    在单道批处理系统中，作业调进调出时cpu空闲；主存中的作业在执行I/O操作时cpu也空闲。为了充分利用cpu我们引入了“前台”和“后台”的概念。在具有前、
后台的系统中，主存被固定地划分为“前台区”和“后台区”两部分，“前台区”存放按时间片调进和调出的作业流，“后台区”存放批处理作业。仅当前台调进或调出、
前台已无作业可运行时，才运行“后台区”的作业。
（3）多道分时系统
    在分时系统中引入多道程序设计技术后，可在主存中同时存放多道作业，每道程序无固定位置，如果作业都较小，主存中便可多装入几道作业，由系统把已具备
运行条件的所有作业排成一个队列，使他们依次轮流地获得一个时间片来运行。由于切换时作业就在主存，不用再进行调入、调出，故多道分时系统具有较好的系统
性能。现代的分时系统都属于多到分时系统。

2.分时系统的特征
与多道批处理系统相比，分时系统具有完全不同的特征，可以归纳成以下4点：
1）同时性。允许在一台主机上同时连接多台联机终端，系统按分时系统原则为每个用户服务。宏观上，是多个用户同时工作，共享资源；而微观上，则是每个用户
作业轮流运行一个时间片。它提高了资源利用率，从而促进了计算机更广泛的应用。
2）独立性。每个用户各占一个终端，彼此独立操作，互不干扰。因此，用户会感觉独占主机。
3）及时性。用户的请求能在很短时间内获得响应，此时间隔是以人们所能接受的等待时间来确定的，通常为2~3秒。
4）交互性。用户可通过终端与系统进行广泛的人机对话。其广泛性表现在：用户可以请求系统提供多方面的服务，如文件编辑、数据处理和资源共享。


1.2.6实时系统
20世纪60年代中期


























































