1.1操作系统概念
-->操作系统
（1）计算机系统&裸机
    一个计算机系统由两部分组成：计算机硬件和计算机软件。计算机硬件通常有中央处理器（包括运算器和控制器）、存储器、输入设备和输出设备等部件组成，
它构成了系统本身和用户作业赖以活动的物质基础和环境。由这些硬件部件组成的机器称为“裸机”。

（2）软件
为了对硬件的性能加以扩充和完善，方便用户使用计算机，于是在裸机外添加了能实现各种功能的软件程序。
为了方便用户描述自己的算题任务而提供了程序设计语言及相应的翻译程序（汇编程序或编译程序）；
为了方便、有效地解决各类问题，提供了各种服务性程序和实用程序，如系统程序库、编辑程序、链接配置程序等；
为了维护系统正常工作，有查错程序、诊断程序和引导程序；
还有用户应用程序、数据库管理系统、数据通信系统等。

软件又称软设备，它是程序和数据的集合。这些程序为了方便用户和充分发挥计算机效能而编制的。而这些软件中有一个很重要的软件系统，即操作系统，
它管理系统中所有的软、硬件资源，并组织控制整个计算机的工作流程。

软件一般可以分为以下几类：
1）系统软件：操作系统、编译程序、程序设计语言、链接配置程序以及与计算机密切相关的程序。
2）应用软件：应用程序、软件包（如数理统计软件包、运筹计算软件包）。
3）工具软件：各种诊断程序、检查程序、引导程序。

僵尸&幽灵

（基础）虚拟机
    硬件和软件以及软件各部分之间是层次结构的关系。硬件在最里层，它的外面是操作系统，经过操作系统提供的资源管理功能和方便用户的各种服务手段把硬件
改造成为功能最强、使用更为方便的机器，通常称为“虚拟机”。而其他系统软件和应用软件则运行在操作系统之上，需要操作系统支持。

（深入理解）关于操作系统观点
1）从系统管理人员的观点来看，引入操作系统是为了合理组织计算机工作流程，管理和分配计算机系统硬件及软件资源，使之能为多个用户所共享。因此，操作
系统是计算机资源的管理者。
2)从用户的观点来看，引入操作系统是为了给用户提供一个良好的界面，以使用户无需了解许多有关硬件和系统软件的细节，就能方便灵活地使用计算机。

-->总结：操作系统是计算机系统中的一个系统软件，它统一管理计算机的软、硬件资源和控制程序的执行。

操作系统功能……

1.2 操作系统的形成和发展
为了更好理解操作系统的基本概念、功能和特点，首先回顾一下操作系统形成和发展的历史过程

按照元件工艺的演变把计算机发展过程分为以下四个阶段：
1946年至20世纪50年代末：第一代（电子管时代）
20世纪50年代末至60年代中期：第二代（晶体管时代）
20世纪60年代中期至70年代中期：第三代（集成电路时代）
20世纪70年代中期至今：第四代（大规模集成电路时代）

现在电子计算机正向着巨型、微型、并行、分布、网络化、智能化几个方向发展。（！）

（基础）操作系统也经历了如下的发展过程：
手工操作阶段（无操作系统）、早期批处理系统、执行系统、多道批处理系统、分时系统、实时系统、通用操作系统、微机操作系统、网络操作系统、
分布式操作系统和嵌入式操作系统。

1.2.1手工操作阶段
    在第一代计算机时期，构成计算机的主要元件是电子管，其运行速度慢（只有几千次/秒）。计算机有主机（运控部件、主存）、输入设备（如读卡机）、
输出设备（如穿卡机）和控制台组成。当时没有操作系统，甚至没有任何软件。

1.2.2早期批处理系统
    在计算机发展早期，用户上机时需要自己建立和运行作业，并做结束处理，没有任何用于管理的软件，所有的运行管理和具体操作都由用户自己承担。
为了缩短作业的建立时间，减少错误操作，尽可能地提高cpu的利用率，我们可以采取以下两个措施：首先配置专门的计算机操作员，程序员不再直接操作
机器，以减少操作机器的错误；另一个重要措施是进行批处理，操作员吧用户提交的作业进行分类，把一批中的作业编成一个作业执行序列，每一批作业
将有专门编制的监督程序自动依次处理。

1.联机批处理系统
用户上机前，需向机房的操作员提交程序、数据和一个作业说明书，后者提供了用户标识、用户想使用的编译程序以及所需要的系统资源等信息。

（深入理解）过程：
    这些资料必须变成穿孔信息（例如变成卡片的形式），操作员把各用户提交的一批作业装到输入设备上（若输入设备是读卡机，则该批作业是一叠卡
片），然后再监督程序的控制下传送到磁带上。之后，监督程序自动输入第一个作业的说明记录，若系统资源能满足其要求，则将该作业的程序、数据调入
主存，并从磁带上调入所需要的编译程序。编译程序将用户源程序翻译成目标代码，然后由链接装配程序把编译后的目标代码及所需要的子程序装配成一个
可执行的程序，接着启动执行。计算完成后输出该作业的计算结果。一个作业处理完毕后，监督程序又可以自动地对下一个作业进行处理。重复上述过程，
直到该批作业全部处理完毕。

（深入理解）意义&不足：
    这种联机处理方式解决了作业自动转换，从而减少了作业的建立和人工操作的时间。但是在作业的输入和执行结果的输出过程中，cpu仍处于停止等待
状态，cpu时间仍有很大的浪费，于是低俗的输入/输出设备与高速的cpu之间形成了一对矛盾。如果把输入/输出工作直接交给价格便宜的专用机去做，就能
充分发挥主机的效率，为此出现了脱机批处理系统。

2.脱机批处理系统
    脱机批处理系统由主机和卫星机组成。卫星机又称外围计算机，它不与主机直接连接，只与外部设备打交道。

（深入理解）过程：
    卫星机负责把输入机上的作业逐个传输到输入磁带上，当主机需要输入作业时，就把输入带和主机连上。主机从输入带上调入作业并运行，计算完成后，
输出结果到输出磁带上，再由卫星机负责把输出带上的信息进行输出。

（深入理解）意义：
    在这样的系统中，主机和卫星机可以并行操作，二者分工明确，可以充分发挥主机的高速计算能力，因此与联机批处理系统相比，脱机批处理系统大大
提高了系统的处理能力。

（深入理解）批处理系统意义：
    批处理系统出现于20世纪50年代末，它是解决人-机矛盾以及中央处理器的高速度和I/O设备的低速度之间的矛盾的过程中发展起来的。它的出现促进了
软件的发展，更重要的是它产生了具有管理作用的监督程序，该程序完成作业的自动过渡并且负责装入和运行各种语言翻译程序（如汇编程序、编译程序）
以及实用程序（如链接装配程序）。在此期间也出现了程序库和程序覆盖等新的程序设计技术。解题操作过程变成了装入、汇编（或翻译）、链接装配和执行
四个步骤，从而使上机操作初步自动化。


1.2.3 执行系统
（深入理解）执行系统为什么会出现：
    批处理系统实现了作业的自动过渡，它的出现改善了cpu和外设的使用情况，从而使整个计算机系统的处理能力得以提高。同时，它也存在一些缺点，如
磁带需人工拆卸，这样既麻烦又容易出错，另一个重要的问题就是系统保护问题。在进行批处理的过程中，所涉及的监督程序、系统程序和用户程序之间是一
种互相调用的关系。对于用户程序没有任何检查，若目标程序执行了一条非法停机指令时，机器就会错误地停止运行。此时，只有当操作员进行干预，在控制
台上按下启动按钮后，程序才会重新启动运行。另一种情况是，如果一个程序进入死循环，系统就会踏步不前，更严重的是无法防止用户程序破坏监督程序和
系统程序。
    20世纪60年代初期，硬件方面获得了两方面的进展，一时通道的引入，二是中断技术的出现，这两项重大成果促使操作系统进入执行系统阶段。

通道：
    通道是一种专用处理部件，它能控制一台或多台外设工作，负责外部设备和主存之间的信息传输。它一旦启动就能独立于cpu运行，这样可使cpu和通道并
行操做，而且cpu和各种外部设备也能并行操作。

中断：
    所谓中断是指当主机接到外部信号（如设备完成信号）时，马上停止原来的工作，转去处理这一事件，处理完毕，主机又回到原来的断点继续工作。

执行系统：
    借助于通道和中断技术，输入/输出工作可在主机控制下完成。这时，原有的监督程序的功能扩大了，它不仅要负责调度作业自动完成，而且还要提供输入
/输出控制功能（用户不能直接使用启动外设的指令，输入/输出请求必须通过系统去执行）。这个发展了的监督程序常驻主存，成为执行系统。

（深入理解）意义：
    执行系统实现的是联机操作，和早期批处理系统不同的是：输入/输出工作是由在主机控制下的通道完成的，主机和通道、主机和外设之间都可以并行操作。
在执行系统中，用户程序的输入/输出工作室委托给系统实现的，由系统检查其命令的合法性，以避免由于不合法的输入/输出命令造成对系统的威胁，因此提高
了系统的安全性。另外，由于引入了一些新的中断，如算术溢出和非法操作中断等，克服了错误停机的弊病，而时钟中断可以解决用户程序中出现的死循环问题。


1.2.4多道批处理系统
（深入理解）名称
早期批处理系统因为每次只调用一个用户作业程序进入主存并运行，故又称为单道批处理系统。其主要特征为：
1）自动性。……
2）顺序性。……
3）单道性。……
过程：
    用户程序首先在cpu上进行运算，当它需要进行I/O传输时，向监督程序提出请求，由监督程序提供服务，并帮助启动相应的外部设备进行传输工作，这时
cpu空闲等待。当外部设备传输结束时发出中断信号，由监督程序中负责中断处理的程序进行处理，然后把控制权交给用户程序，让其继续运算。

（深入理解）多道批处理系统的出现
    当外部设备进行传输工作时，cpu处于空闲等待状态；反之，当cpu工作是，I/O设备又无事可做。这说明，计算机系统各部件的效能没有得到充分的发挥，
其原因在于主存中只有一道程序。在计算机价格昂贵的20世纪60年代，提高设备的利用率是首要目标。为此，人们设想能否在系统同时存放多道程序，这就引入
了多道程序设计的概念。

1.多道程序设计

2.多道批处理系统



































































